.App {
  text-align: center;
}
#main {
  padding: 0px 150px 0px 150px;
  margin: 0;
}
#content {
  padding-top: 15px;
  border: 1px;
  margin: 0 auto;
}
.loadingBar {
  background-color: red;
  height: 3px;
  position: "relative";
}
.longLoadingBar {
  position: "relative";
  background-color: rgb(112, 248, 237);
  height: 3px;
}
